body{
  background-color: #edcae1;
  }

h1{
  color: #a3608c;
  text-align: center;
  font-family: Palatino, serif;

}

.introduction{
  background-color: #ff5c7a;
  font-family: Palatino, serif;
  color: #40033e;
  text-align: center;
}

h3{
  color: #a3608c;
  font-family: Palatino, serif;
  text-align: center;
}

.columns{
  position: relative;
  top: 20px;
  left: 20px;

}

.animal_images{
  width: 150px;
}
